.profile {
    background-color: #f3f4f6;
    background-image: url("bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 93.2vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  